<div style="text-align: center;">
    <h2>Find a User</h2>
    <form action="/users/search">
        <input type="search" name="term" placeholder="Name of user to be searched">
        <input type="submit" value="Search">
    </form>
</div>