{{! Layout of home page}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <style>
        ul{
            list-style-type:none;
            margin: 0;
            padding: 0;
        }
        a{
            text-decoration: none;
        }
        li{
            float: left;
            text-align: center;
            padding: 0 15px;
        }
    </style>
</head>
<body>
    <header>
        <h2 style="text-align: center;">User Form</h2>
        <nav style="display: inline-block;">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/users">All Users</a>
                </li>
                <li>
                    <a href="/users/add">Add User</a>
                </li>
            </ul>
        </nav>
    </header>
    <hr>
    {{{body}}}
</body>
</html>